/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# -------------------------
# Custom

# trash files by os
.DS_Store
Thumbs.db

# vendor files
/vendor/

# IDE files
/nbproject/
.idea/*

# Local Folders
/public/files/