# trash files by os
.DS_Store
Thumbs.db

# vendor files
/vendor/

# IDE files
/nbproject/
.idea/*

*.log
*.env

# project files
logs/
.env.local
/local.sh

# sql
/scripts/**/*.sql

# laravel
/web/storage/*
!/web/storage/app
!/web/storage/framework
!/web/storage/logs

# this project only
!/scripts/sql/procedures.sql