# trash files by os
.DS_Store
Thumbs.db

# vendor files
/vendor/

# IDE files
/nbproject/
.idea/*

*.log
*.env

# project files
logs/
.env.local
/web.sh

# sql
/scripts/**/*.sql
!/scripts/sql/procedures.sql
