@charset "UTF-8";

/* 레이아웃 우측 폴더 목록 네비게이션 (아카이브/카테고리) */
#navFolderList {
    > a[data-depth="1"] {
        padding-left: 1.25rem;
    }
    > a[data-depth="2"] {
        padding-left: 3.5rem;
    }
    > a[data-depth="3"] {
        padding-left: 6.0rem;
    }
    > a[data-depth="4"] {
        padding-left: 8.5rem;
    }
    @media (min-width: 768px) and (max-width: 1199.98px){
        > a[data-depth="2"] {
            padding-left: 2rem;
        }
        > a[data-depth="3"] {
            padding-left: 3rem;
        }
    }
    /* 숫자가 표시되는 뱃지 */
    span.nav-count-badge {
        border-radius: 0.7em;
        background-color: rgb(115, 123, 129);
        color: #fff;
        display: inline-block;
        padding: 0.3em 0.5em;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
    }
    /* 위아래 화살표가 나오는 공간 */
    .nav-updown-wrap {
        display: none;
        width: 50px;
        /* 위아래 화살표 뱃지 */
        span.nav-updown-badge {
            border-radius: 0.3em;
            background-color: rgb(115, 123, 129);
            color: #fff;
            display: inline-block;
            padding: 0.3em 0.5em;
            font-size: 10px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
        }
    }
}
